<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DaVinci OfficeMate</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-toggleable-md sticky-top navbar-inverse bg-inverse">
      <a class="navbar-brand" href="#">
        <img src="#" width="" height="" alt="">
        OfficeMate
      </a>
    </nav>


    <div class="container">
        {% for posts in posts %}
            <div class="row">
                <div class="card">
                  <div class="card-block">
                      <h4 class="card-title">{{ posts.post_title }}</h4>
                      <h6 class="card-subtitle text-muted d-inline">Likes <span class="badge badge-success">{{ posts.likes }}</span></h6>
                      <h6 class="card-subtitle text-muted d-inline">Comments <span class="badge badge-info">{{ posts.comment_count }}</span></h6>
                      <p class="card-text">{{ posts.post_body|linebreaks }}</p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>